# Virtual Environment
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Python/Jupyter artifacts
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Project specific
output/
/data/process_data/
/data/label_stats.ipynb
/data/test_data.json
/data/train_data.json

# Whitelist strategy (your current style)
/*
!/.gitignore
!/README.md
!/requirements.txt
!/notebooks/
!/data/
!/data/dictionary/
!/data/raw/
!/NOTES_BAO_VE.md

data/raw/raw_data.json
data/process_data/*.json
data/test_data.json
data/train_data.json
